body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  height: 80px;
  background: #6441A5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
  background: linear-gradient(to right, #2a0845, #6441A5);
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header>img {
  height: 80%;
  margin-left: 10%;
}

header>p {
  font-family: 'Josefin Sans', sans-serif;
  color: whitesmoke;
  font-size: 300;
  margin-left: 60px;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img {
  width: 100%;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 0 #000,
    2px 2px 5px #000;

}

.meme > .bottom {
  bottom: 0;
}

.meme>.top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form>input {
  width: 50%;
  height: 40px;
  margin: 5px;
}

.meme-form>button {
  border: none;
  border-radius: 4px;
  font-family:'Josefin Sans', sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #451f8b;
  margin: 5px;
}

.meme-form>input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari*/
  font-family:'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

.meme-form>input::-moz-placeholder {
  /* Chrome/Opera/Safari*/
  font-family:'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

.meme-form>input::-ms-input-placeholder {
  /* Chrome/Opera/Safari*/
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: center;
}

.meme-form>input:-moz-placeholder {
  /* Chrome/Opera/Safari*/
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: center;
}

.loader {
  height: 70px;
  width: 70px;
  background-color: whitesmoke;
}